/* 전체 wrapper */
.settings-wrapper {
	margin-left: 240px;   /* 사이드 메뉴 폭 */
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 24px 32px;
	box-sizing: border-box;
} 

/* 제목 */
.settings-header h1 {
	text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 설정 리스트 (스크롤 영역) */
.settings-content {
	width: 80vh;
	height: 80vh;
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
}

/* 각 설정 항목 */
.settings-item {
    display: flex;
    align-items: center;
    gap: 24px;
	margin-bottom: 10px;
}

/* 왼쪽 라벨 */
.settings-label {
    min-width: 120px;   /* 라벨 폭 고정 */
    font-weight: 500;
}


/*=============================
		 오른쪽 컨트롤 
=============================== */
.settings-control {
	display: flex;
	align-items: center;
	gap: 8px;
}

.settings-control label {
    margin: 0;
    cursor: pointer;
}

.settings-password {
	padding: 12px;
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

/*=============================
 	? 아이콘 버튼
=============================== */  
.help-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    background: #fff;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    padding: 0;
}

.help-icon:hover {
    background: #f0f0f0;
}


/*=============================
 	하단 Setting 저장 영역
=============================== */  
.settings-footer {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: right;
}

#saveSettingsBtn {
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
}


/*=============================
 API Key 관련 Helper Modal css
=============================== */ 
.help-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.help-modal-content {
    background: #fff;
    width: 420px;
    max-width: 90%;
    margin: 120px auto;
    padding: 20px 24px;
    border-radius: 6px;
}

.help-modal-content h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.help-modal-content ol {
    padding-left: 20px;
}

.modal-footer {
    text-align: right;
    margin-top: 16px;
}


 
/*=============================
		파일 Upload css
=============================== */
.file-upload {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* 파일 선택 버튼 */
.file-select-btn {
    padding: 6px 14px;
    font-size: 13px;
    border: 1px solid #ccc;
    background-color: #307caf;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.file-select-btn:hover {
    background-color: #4274a7;
    border-color: #999;
}

/* 파일명 텍스트 */
.file-name {
    font-size: 13px;
    color: #555;
    white-space: nowrap;
}
