<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	
	<title class="header">메인 홈페이지</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="stylesheet" th:href="@{/css/sideMenu.css}">
	<link rel="stylesheet" th:href="@{/css/customAlert.css}"> </head>
</head>

<body>
	<div th:replace="~{common/sideMenu :: sideMenu}"></div>
	<div class="container">
		<h1 th:text="${message}">기본 메시지</h1>
	</div>
	
	
	<div th:replace="~{common/customAlert :: customAlert}"></div>
	<div th:replace="~{common/customConfirm  :: customConfirm}"></div>
	
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/licenseVerify.js}"></script>
	<script th:src="@{/js/customAlert.js}"></script>
	<script th:src="@{/js/customConfirm.js}"></script>
</body>

</html>